<p style="color: green"><%= notice %></p>

<h1>Todo List</h1>

<div id="todos" style="border:2px solid blue ; margin:auto ; padding:15px 12px 15px 20px;">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
  <h3 style="textcolor:red;">
  <%= link_to "New todo", new_todo_path %>
  </h3>
</div>


